# Libraries
*.lib
*.a
*.la
*.lo
*.venv

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# IDEs and editors
*.idea/
*.vscode/
*.suo
*.ntvs
*.DS_Store
*.env   
*.cursor